body{
	background:#ffffc8;
}
div#painel{
	display: flex;
	justify-content: center;
	margin: 20px auto auto auto;
	background-color: #554455;
	width: 70%;
	flex-direction: column;
	height: auto;
	padding: 15px;
}
div#painel h1{
	color: white;
	margin: auto;
	font: arial;
	display: flex;
	height: auto;
}
div#opitions{
	display: grid;
	width: 90%;
	justify-content: center;
	margin: auto;
	grid-template-columns: 1fr;
}
div#opitions button{
	width: 100%;
	height: 30px;
	margin-top: 20px;
	border: solid 1px #776677;
	background-color: #554455;
	cursor: pointer;
	color: white;
}
div#opitions button:hover{
	background-color: #776677;
}
div.form{
    height: 60px;
    margin: 18px auto auto auto;
    display: flex;
    justify-content: center;
    color: white;
}
div.form form input{
	background-color: #554455;
	border: solid 1px #776677;
	color: white;
}
div.form form input:focus{
    outline: none;
}
#f1 {
	display:none;
}
#f2 {
	display:none;
}