<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/lobby.css">
    <title>TicTacToe</title>
</head>
<body>
  <div id="painel">
    <h1>Welcome to TicTacToe</h1>
    <div id="opitions">
      <button>Create Lobby</button>
      <button>Enter in Lobby</button>
    </div>
  </div>
</body>
</html>