<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
   <canvas height="300" width="300" style="border: solid;" id="canvas"></canvas>
  	<div id="x"></div>
  	<div id="y"></div>
    <div>Play1:<div id="play1"></div></div>
    <div>Play2:<div id="play2"></div></div>
  	<script src="/socket.io/socket.io.js"></script>
   	<script>
		const code = `<%= Code %>`
    const name = `<%= Name %>`
    let choice;
    let turn;
    let unlock = false;
    let play1;
    let play2;
  	const socket = io()
    socket.emit("connection")
    socket.emit('message',{
      "code":code,
      "name":name
    })
    socket.on("message",(resp) => {
      console.log("emitido")
      if(resp){
        if(resp.unlock){
          unlock = resp.unlock
        }
        if(resp.turn){
          turn = resp.turn
        }
        if(resp.op == false || resp.op == true){
          console.log(resp.op)
          choice = resp.op
        }
        if(resp.player1){
          play1 = resp.player1
          document.getElementById('play1').innerHTML = play1
        }
        if(resp.player2){
          play2 = resp.player2
          document.getElementById('play2').innerHTML = play2
        }
      }
    })
  	</script>
  	<script type="text/javascript" src="/public/main2.js"></script>
</body>
</html>